#words{
    font-size: 34px;
    color: white;
}
#writting{
    background-color: black;
    margin-bottom: 0;
}
#me{
    background-color: #474e5d;
    border-radius: 0px;
    color: white;
    margin-bottom: 0;
}